<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
    <style type="text/css">
        body {
            background: #fbf4e0;
        }
        h1 {
            text-align: center;
        }
        h3 {
            text-align: left;
        }
        p {
            text-indent: 2em;
            text-align: left;
        }
    </style>
</head>
<body>
    <header>
        <h1 th:text="${sight.name}"></h1>
    </header>
    <main>
        <div align="center">
            <div style="width: 60%">
                <img th:src="${sight.picture}" width="60%" th:alt="${sight.name}">
                <h3>景点介绍</h3>
                <p th:text="${sight.description}"></p>
                <h3>地址</h3>
                <p th:text="${sight.address}">位于湖南省湘西的西南部</p>
                <h3>开放时间</h3>
                <p>全年 全天开放；凤凰古城全天开放；沱江河日游8：00-17：30、夜游18：00-22：30，最晚入园22:00；凤凰古城内部景点开放时间不一，详情参考景区现场公示。</p>
            </div>
        </div>
    </main>
</body>
</html>