<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的旅游</title>
    <link rel="stylesheet" href="/css/layui/layui.css">
    <script src="/js/layui/layui.js"></script>
</head>
<body>
    <div class="layui-header">
        <ul class="layui-nav layui-layout-left" lay-filter="">
            <li class="layui-nav-item">
                <img src="/image/logo.png" th:width="50px" th:height="50px">
            </li>
            <li class="layui-nav-item"><a th:href="@{/index}">首页</a></li>
            <li class="layui-nav-item"><a th:href="@{/selectAllSights}">景点</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">解决方案</a>
                <dl class="layui-nav-child">
                    <dd><a href="#">移动模块</a></dd>
                    <dd><a href="#">后台模版</a></dd>
                    <dd><a href="#">电商平台</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">社区</a></li>
        </ul>
        <!--<ul class="layui-nav">
            <li class="layui-nav-item">
                <input type="text">
            </li>
        </ul>-->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="">我的消息<span class="layui-badge">9</span></a>
            </li>
            <li class="layui-nav-item">
                <a href="">我的订单<span class="layui-badge-dot"></span></a>
                <dl class="layui-nav-child">
                    <dd><a href="">酒店订单</a></dd>
                    <dd><a href="">旅游订单</a></dd>
                    <dd><a href="">全部订单</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">修改信息</a></dd>
                    <dd><a href="javascript:;">安全管理</a></dd>
                    <dd><a href="javascript:;">退了</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <div class="layui-body">
        <iframe src="" id="main" height="100%" width="100%"></iframe>
    </div>

    <div class="layui-footer">

    </div>
    <script>
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function(){
            var element = layui.element;
            //使用layui下面的jquery，并且定一个变量$
            var $ = layui.jquery;
            // $(document).ready作用是在页面加载完后，自动执行以下js代码
            $(document).ready(function () {
                //查找dd下面a标签
                $("dd>a").click(function (e) {
                    //取消默认的执行动作
                    e.preventDefault();
                    $('#main').attr("src",$(this).attr("href"));
                });
            });
        });
    </script>
</body>
</html>